*.*~
.*.swp
tags

*.o
*.pyc
*.o.*
*.[oa]
*.l[oa]
*.m4
*.sh
intltool*.in
*.gmo
*.schemas
rubi-system.schemas.in
*.so*
*.stamp
stamp*
Makefile*
Makefile*.*
!Makefile.am
.dirstamp
.deps/
.libs/
config.h.in
INSTALL
TODO.tasks
build/*
!build/*.am
autom4te.cache/
config.log
config.status
configure
libtool

*anjuta*
*kdev*

src/client/*.[ch]
src/client/*.vapi
src/graphics/*.[ch]
src/graphics/*.vapi
src/log/*.[ch]
src/log/*.vapi
src/session-daemon/*.[ch]
src/session-daemon/*.vapi
src/session-daemon/*.xml
src/socket/*.[ch]
src/socket/*.vapi
src/timeline/*.[ch]
src/timeline/*.vapi
!src/timeline/source.[ch]
src/widgets/*.[ch]
src/widgets/*.vapi
src/splash/*.[ch]
src/splash/*.vapi
src/engine/*.[ch]
src/engine/*.vapi
src/engine/aixplorer/*.[ch]
src/engine/aixplorer/*.vapi
src/xml/*.[ch]
src/xml/*.vapi
src/face-authentification/common/*.[ch]
src/face-authentification/common/*.vapi
src/face-authentification/pam/*.[ch]
src/face-authentification/pam/*.vapi
src/input/*.[ch]
src/input/*.vapi
src/netlink/*.[ch]
src/netlink/*.vapi
src/engine/test-engine
src/input/test-input
src/netlink/test-netlink
test/*.c
compile
config.guess
config.sub
data/dbus/fr.supersonicimagine.XSAA.Manager.service
data/init/splash-functions
data/init/xsplashaa
data/init/xsplashaa-functions
data/init/xsplashaa-phase2
data/init/xsplashaa-phase3
data/initramfs/hooks/xsplashaa
data/initramfs/scripts/xsplashaa
data/initramfs/scripts/functions
data/xsplashaa.desktop
depcomp
install-sh
missing
po/POTFILES
src/client/xsplashaa-client
src/session-daemon/xsplashaa-session-daemon
src/splash/xsplashaa
src/themes/test-engine

